
*{
    font-family: monospace;
}
body{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#stop-watch{
    box-sizing: border-box;
    width: 40vw;
    height: 80vh;
    /* border: red solid 2px; */
    margin: auto;
}

#time-display{
    box-sizing: border-box;
    height: 70%;
    width: 100%;
    /* border: blue 2px solid; */
    font-size: 40vh;
    text-align: center;
}
#buttons-grp{
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    /* border: blue 2px solid; */

}
button{
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    font-size: 200%;
    border-radius: 50%;
    background-color: #00CED1;
    border: 0px;
}

button:hover{
    font-size: 250%;
    cursor: pointer;
    background-color: #008000;
}

button:active{
    background-color: #AFEEEE;
}

@media screen and (max-width: 768px) {
    #stop-watch{
        width: 100vw;
    }
    button:hover{
    background-color: #00CED1;
    font-size: 200%;
    }
    button:active{
    background-color: #AFEEEE;

    }
}